@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body { font-family: 'Source Sans Pro', sans-serif;}

h1 {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0;
}

h2, h3, i{
  font-family: 'Source Sans Pro';
  font-weight: normal;
}

.footer-left { 
  position: absolute;
  bottom: 12px;
  left: 20px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.progress-image {
  width: 50%;
  text-align: center;
  margin: auto;
  bottom: 0;
  position: absolute;
  
}

.header-right { 
  position: absolute;
  top: 12px;
  right: 20px;
  padding: 0;
  margin: 0;
  opacity: 0.5;
}

.middle-text {
  top: 50%;
}

.black-background {
  background-color: black;
}

.top-white-text {
  background-color: rgba(0,0,0,.8);
  margin-top: 0;
  color: white;
  width: 300px;
  padding-right: 100px;
}

.banner {
    background:url('../img/word_risk.jpg');
    background-position:center;
    width:100%;
    background-size: cover;
    min-height:180px;
}

.capability-slide .banner {
  background:url('../img/word_strength.jpg');
    background-position:center;
    background-size: 100% 100%;
}

.capability-slide .capability {
  font-size:xx-large;
  /* background: white;
  color: grey;
  text-shadow: 0 0 0; */
}

.scenario-slide {
  background-color: #212A39;
}

.scenario-slide .scenario {
  font-size:xx-large;
  background: white;
  color: grey;
  text-shadow: 0 0 0;
}

.scenario-slide strong {
  color: black;
}

.domain {
  font-size:large;
  font-weight:bold;
  margin-bottom:0;
}

.domain-description {
  font-size: medium;
  margin-top:0;
}
